inwork.py
./__pycache__
.idea
.idea/workspace.xml
./build
inwork.py
main.spec
./icon
test
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/PKG-00.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/run.exe.y8fnuers
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
icon/favicon.ico
application/main.exe
application/config.ini
__pycache__/main.cpython-39.pyc
__pycache__/functions.cpython-39.pyc
__pycache__/
*.egg-info/
venv
